 main {
    background-image: url("/assets/imgs/background.svg");
    background-color: #172176;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

 main svg{
    width: 100%;
}


@-webkit-keyframes slide-top {
    0% {
        fill: transparent;
        transform: translateY(100px);
    }
    100% {
        fill: rgb(255, 255, 255);
        transform: translateY(0);
    }
}

.svg-elem-1 {
    animation: slide-top 1s cubic-bezier(0.35, 0.50, 0.70, 0.94) 1.5s both;
}

@-webkit-keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-2 {
    animation: animate-svg-fill-2 0.7s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.9s
        both;
}

@-webkit-keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-3 {
   
        1s both;
    animation: animate-svg-fill-3 0.7s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s both;
}

@-webkit-keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-4 {
    
    animation: animate-svg-fill-4 0.7s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.1s
        both;
}

@-webkit-keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-5 {
  
    animation: animate-svg-fill-5 0.7s cubic-bezier(0.95, 0.05, 0.795, 0.035)
        1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-6 {
   
    animation: animate-svg-fill-6 0.7s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1.3s
        both;
}

@-webkit-keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-7 {
    
    animation: animate-svg-fill-7 0.7s cubic-bezier(0.95, 0.05, 0.795, 0.035)
        1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-8 {
    animation: animate-svg-fill-8 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.7s both;
}

@keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
        transform: translateY(150px) translateX(-200px);
    }
    50% {
        fill: rgba(255, 255, 255, 0.1);
    }

    100% {
        fill: rgb(255, 255, 255);
        transform: translateY(0) translateX(0);
    }
}

.svg-elem-9 {
    animation: animate-svg-fill-9 1.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.8s
        both;
}

@-webkit-keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-10 {
    
    animation: animate-svg-fill-10 0.7s cubic-bezier(0.95, 0.05, 0.795, 0.035)
        1.7000000000000002s both;
}

@media (min-width: 1136px) {
/** @format */
 


main {
    background-image: url("/assets/imgs/background.svg");
    background-color: #3f51b5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

}